<div *ngIf="project" class="grid" [ngStyle]="{width: '90vw'}">
  <div class="col-12 flex flex-row align-items-center justify-content-start gap-2 lg:col-6">
    <h3 class="w-3">Project Name</h3>
    <input class="project-name" type="text" pInputText [(ngModel)]="project.title" />
  </div>

  <div class="col-12 flex flex-row justify-content-start align-items-center gap-2 lg:col-6">
    <h3 class="w-3">Logo</h3>

    <div class="flex align-items-center gap-2">
      <p-fileUpload
        mode="basic"
        chooseLabel="Choose"
        name="demo[]"
        [auto]="true"
        url="https://www.primefaces.org/cdn/api/upload.php"
        accept="image/*"
        [maxFileSize]="1000000"
        (onUpload)="onUpload($event)"
      ></p-fileUpload>

      <div class="flex align-items-center gap-1">
        <img *ngIf="this.project.settings.logo" [src]="this.project.settings.logo" width="55" height="55" style="border-radius: 50%" />
        <p-button
          *ngIf="this.project.settings.logo"
          (click)="removeBgImage()"
          icon="pi pi-times"
          [rounded]="true"
          [text]="true"
          severity="danger"
        ></p-button>
      </div>
    </div>
  </div>

  <div class="col-12 flex flex-row align-items-center justify-content-start gap-2 lg:col-6">
    <h3 class="w-3">Progress Bar</h3>
    <p-inputSwitch [(ngModel)]="this.project.settings.enableProgressBar"></p-inputSwitch>
  </div>

  <div class="col-12 flex flex-row align-items-center justify-content-start gap-2 lg:col-6">
    <h3 class="w-3">Time Limit</h3>
    <p-checkbox class="mx-2" [binary]="true" name="groupname" value="val1" [(ngModel)]="this.project.settings.enableTimeLimit"></p-checkbox>

    <label>h:</label>
    <input
      pInputText
      class="w-4rem"
      type="number"
      min="0"
      max="24"
      placeholder="H"
      [(ngModel)]="this.project.settings.hours"
      [disabled]="!this.project.settings.enableTimeLimit"
    />
    <label>m:</label>
    <input
      pInputText
      class="w-4rem"
      type="number"
      min="0"
      max="60"
      placeholder="M"
      [(ngModel)]="this.project.settings.min"
      [disabled]="!this.project.settings.enableTimeLimit"
    />
  </div>

  <div class="col-12 flex flex-row align-items-center justify-content-start gap-2 lg:col-6">
    <h3 class="w-3">Randomize Questions</h3>
    <p-inputSwitch [(ngModel)]="this.project.settings.enableRandomizeQuestions"></p-inputSwitch>
    <i
      class="pi pi-exclamation-triangle"
      pTooltip="Will disable logic!"
      tooltipPosition="top"
      style="margin-left: 5px; color: #e1c706; font-size: 1.5rem"
    ></i>
  </div>

  <div class="col-12 flex flex-row align-items-center justify-content-start gap-2 lg:col-6">
    <h3 class="w-3">Public</h3>
    <p-inputSwitch [(ngModel)]="this.project.settings.enablePublic"></p-inputSwitch>
  </div>

  <div *ngIf="isQuiz" class="col-12 flex flex-row align-items-center justify-content-start gap-2 lg:col-6">
    <h3 class="w-3">Show Answers at the end</h3>
    <p-inputSwitch class="show-answers-switch" [(ngModel)]="this.project.settings.enableShowAnswersAtTheEnd"></p-inputSwitch>
  </div>

  <div class="col-12 flex flex-row align-items-center justify-content-start gap-2 lg:col-6">
    <h3 class="w-3">Ask for Basic User Info</h3>
    <p-inputSwitch class="basic-info-switch" [(ngModel)]="this.project.settings.enableAskForBasicUserInfo"></p-inputSwitch>
  </div>
</div>

<div class="mt-4">
  <p-button class="save-btn" label="Save Settings" icon="pi pi-save" severity="primary" (onClick)="onSaveSettings()"></p-button>
</div>
