<p-dialog
  [header]="editableQuestion ? 'Update Question' : 'New Question'"
  [visible]="true"
  [modal]="true"
  [closable]="false"
  [draggable]="true"
  [style]="{width: '40rem'}"
>
  <div class="dialog">
    <div class="body flex flex-row justify-content-between pt-3 mt-5 mb-3">
      <span class="p-float-label w-4">
        <p-dropdown
          id="question-type-dropdown"
          [options]="questionTypes"
          [(ngModel)]="selectedQuestionType"
          optionLabel="name"
          autoWidth="false"
          [style]="{width: '100%'}"
          inputId="float-label"
        ></p-dropdown>
        <label for="float-label">Question Type</label>
      </span>

      <span class="p-float-label w-1" *ngIf="showQuizElements">
        <input class="w-12" type="number" pInputText id="score" [(ngModel)]="scoreValue" />
        <label class="w-12" for="score">Score</label>
      </span>
    </div>

    <div><angular-editor id="question-name" [placeholder]="'Question...'" [(ngModel)]="htmlContent"></angular-editor></div>

    <div class="flex flex-column gap-2 mt-5">
      <div class="flex align-items-center" *ngFor="let option of options; let i = index">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <label for="inputField">Option</label>
          </span>
          <input id="inputField" class="option-input" type="text" pInputText [(ngModel)]="option.text" />
        </div>
        <p-checkbox
          *ngIf="showQuizElements"
          [value]="true"
          class="option-checkbox mx-2"
          [binary]="true"
          name="groupname"
          value="val1"
          label="Correct"
          [(ngModel)]="option.correct"
        ></p-checkbox>
        <span class="pi pi-trash mx-2 cursor-pointer" (click)="onDeleteQuestionOptionClick(i)"></span>
      </div>
    </div>

    <div class="mt-2">
      <p-button
        id="add-option-btn"
        label="Add Option"
        icon="pi pi-plus-circle"
        [text]="true"
        severity="primary"
        size="small"
        (onClick)="onAddQuestionOptionClick()"
      ></p-button>
    </div>

    <p-divider></p-divider>
    <div class="footer flex justify-content-end gap-3">
      <p-button label="Cancel" [outlined]="true" severity="primary" (onClick)="onCloseBtnClick()"></p-button>
      <p-button
        id="save-btn"
        label="Save Question"
        icon="pi pi-save"
        severity="primary"
        [disabled]="isSaveBtnDisabled()"
        (onClick)="onSaveBtnClick()"
      ></p-button>
    </div>
  </div>
</p-dialog>
