<p-dialog header="Question bank" [visible]="true" [modal]="true" [closable]="false" [draggable]="true">
  <p-pickList
    [source]="sourceProducts"
    [target]="targetProducts"
    sourceHeader="Available"
    targetHeader="Selected"
    [dragdrop]="true"
    [responsive]="true"
  >
    <ng-template let-product pTemplate="item">
      <div class="flex flex-row p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ product.text }}</span>
        </div>

        <span
          class="pi pi-times"
          pTooltip="Delete"
          tooltipPosition="top"
          style="font-size: 1.25rem; cursor: pointer"
          (click)="onDelete()"
        ></span>
      </div>
    </ng-template>
  </p-pickList>

  <div class="footer flex justify-content-end gap-3 mt-4">
    <p-button label="Cancel" [outlined]="true" severity="primary" (onClick)="onCloseBtnClick()"></p-button>
    <p-button label="Save Question" icon="pi pi-save" severity="primary" (onClick)="onSaveBtnClick()"></p-button>
  </div>
</p-dialog>
