<div *ngIf="showData" class="flex justify-content-end align-items-center gap-2 mr-4 mb-1">
  <label for="surveySwitch"><div class="text-gray-200 font-medium">Survey View</div> </label>
  <p-inputSwitch inputId="surveySwitch" [(ngModel)]="showSurveys"></p-inputSwitch>
</div>

<div *ngIf="showData" class="w-screen flex justify-content-center">
  <div class="dashboard p-1 bg-white overflow-visible border-round" [ngStyle]="{width: '98vw'}">
    <p-table
      columnResizeMode="expand"
      [value]="showSurveys ? surveys : quizzes"
      [rowHover]="true"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="caption" class="">
        <div *ngIf="!showSurveys">Quizzes</div>
        <div *ngIf="showSurveys">Surveys</div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="px-5">Project</th>
          <th class="px-5">Status</th>
          <th class="px-5">Responses</th>
          <th class="px-5">Created</th>

          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="px-5">{{ item.title }}</td>
          <td class="px-5">{{ item.status }}</td>
          <td class="px-5">{{ item.responses }}</td>
          <td class="px-5">{{ item.dateCreated }}</td>

          <td class="flex justify-content-end">
            <p-button label="Preview" [text]="true" icon="pi pi-eye" (click)="redirectToPreview(item.id)"></p-button>

            <p-button label="Statistics" [text]="true" icon="pi pi-chart-bar" (click)="redirectToStatistics(item.id)"></p-button>

            <p-button label="Edit" [text]="true" icon="fa-solid fa-pen-to-square" (click)="updateProject(item.id)"></p-button>

            <p-button
              label="Delete"
              severity="danger"
              [text]="true"
              icon="pi pi-times"
              (click)="onDeleteConfirmation($event, item.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
