<div class="flex justify-content-end align-items-center gap-2 mr-2 mb-1">
  <label for="surveySwitch">Survey View </label> <p-inputSwitch inputId="surveySwitch" [(ngModel)]="showSurveys"></p-inputSwitch>
</div>

<p-table [value]="showSurveys ? surveys : quizzes" [rowHover]="true" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
  <ng-template pTemplate="caption" class="">
    <div *ngIf="!showSurveys">Quizzes</div>
    <div *ngIf="showSurveys">Surveys</div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="px-5">Project</th>
      <th class="px-5">Status</th>
      <th class="px-5">Created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="px-5">{{ item.title }}</td>
      <td class="px-5">In design</td>
      <td class="px-5">2021-02-13</td>

      <td>
        <p-button label="Preview" [text]="true" icon="pi pi-eye"></p-button>
      </td>
      <td>
        <p-button label="Statistics" [text]="true" icon="pi pi-chart-bar"></p-button>
      </td>

      <td>
        <p-splitButton
          label="Configure"
          icon="pi pi-cog"
          [model]="configureItems"
          (onDropdownClick)="onConfigureBtnClick(item)"
        ></p-splitButton>
      </td>
    </tr>
  </ng-template>
</p-table>
