<p-menubar [model]="items" class="sticky text-primary" [ngStyle]="{'z-index': '999999'}"></p-menubar>

<div class="flex flex-row gap-3">
  <div class="flex flex-column">
    <app-users-list-view class="mt-7" *ngIf="showUsersList"></app-users-list-view>
    <app-dashboard-view class="mt-5" *ngIf="showDashboard"></app-dashboard-view>
    <app-new-project-view *ngIf="showNewProjectDialog"></app-new-project-view>
    <app-edit-project-view *ngIf="showEditProjectView"> </app-edit-project-view>
    <app-statistics-view *ngIf="showStatisticsView"></app-statistics-view>
    <app-profile-view *ngIf="showUserProfile"> </app-profile-view>
  </div>
</div>
