<p-toolbar class="sticky">
  <div class="p-toolbar-group-start">
    <p-button
      label="Dashboard"
      icon="pi pi-list"
      [text]="true"
      severity="help"
      size="large"
      styleClass="w-full mt-2"
      (onClick)="onDashboardBtnClick()"
    ></p-button>

    <p-button
      label="New project"
      icon="pi pi-plus"
      [text]="true"
      severity="help"
      size="large"
      styleClass="w-full mt-2"
      (onClick)="onNewProjectBtnClick()"
    ></p-button>
  </div>
  <div class="p-toolbar-group-center">
    <p-button
      label="Profile"
      icon="pi pi-user"
      [text]="true"
      severity="help"
      size="large"
      styleClass="w-full mt-2"
      (onClick)="onUserProfileBtnClick()"
    ></p-button>

    <p-button
      label="Log out"
      icon="pi pi-sign-out"
      [text]="true"
      severity="help"
      size="large"
      styleClass="w-full mt-2"
      (onClick)="onLogOutBtnClick()"
    ></p-button>
  </div>
</p-toolbar>

<div class="flex flex-row gap-3">
  <div class="flex flex-column">
    <app-dashboard-view class="mt-5" *ngIf="showDashboard"></app-dashboard-view>
    <app-new-project-view *ngIf="showNewProjectDialog"></app-new-project-view>
    <app-edit-project-view *ngIf="showEditProjectView"> </app-edit-project-view>
    <app-statistics-view *ngIf="showStatisticsView"></app-statistics-view>
    <app-profile-view *ngIf="showUserProfile"> </app-profile-view>
  </div>
</div>
